@import './variables';
@import './mixins';
body {
    background: $background;
}

#contenedor {
    margin: 50px;
}

.list-group-item {
    @include reset_list;
}

.card-group>.card {
    margin: 5 5 5 5;
}

.card.col-3 {
    margin: 20px;
}

img.card-img-top {
    padding-top: 1pc;
}

.container.mt-5 {
    display: grid;
}